<h1>Create New Movie</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit "New Bookmark", class: "btn btn-primary" %>
<% end %>
